.logo {
	height: 50px;
}

.border-line {
	border: 1px solid #00bcd4;
	border-radius: 10px;
}

.border-line-2 {
	height: 160px;
	border: 1px solid #ccc;
	border-radius: 10px;
	transition: ease 1s;
}

.border-line-2:hover {
	border: 1px solid #ff895e;
  	box-shadow: 17px 20px 15px 0 rgba(46,61,73,0.3);
  	color: #00bcd4;
  	transform: scale(1.05);
}

.dashboard_height {
	min-height: calc(100vh - 100px);
}

p {
	margin-bottom: 0;
}

a {
	text-decoration: none !important;
	color: #3F4393 !important;
}