<nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 p-3 d-flex justify-content-between align-items-center bg-white">
				<p class="mb-0 aud-text-color"><strong>PAINEL DE CONTROLE</strong></p>
				<%= image_tag "logo.png", class: "logo" %>
			</div>
		</div>
	</div>
</nav>
<section>
	<div class="container dashboard_height d-flex align-items-center justify-content-center">
		<div class="row border-line bg-white">
			<div class="col-sm-12">
				<div class="row py-5 px-5">
					<div class="col-sm-3">
						<div class="border-line-2 d-flex justify-content-center align-items-center p-5 bg-white my-sm-0 my-2">
							<i class="fas fa-users"></i>
							<p class="ml-2">Usuários</p>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="border-line-2 d-flex justify-content-center align-items-center p-5 bg-white my-sm-0 my-2">
							<i class="fas fa-file-signature"></i>
							<p class="ml-2">Contratos</p>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="border-line-2 d-flex justify-content-center align-items-center p-5 bg-white my-sm-0 my-2">
							<i class="fas fa-chart-line"></i>
							<p class="ml-2">Relatórios</p>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="border-line-2 d-flex justify-content-center align-items-center p-5 bg-white my-sm-0 my-2">
							<i class="fas fa-file-invoice-dollar"></i>
							<p class="ml-2">Finanças</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>